<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube scrapper</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="  min-h-screen bg-linear-65 from-[#0e1c26] to-[#294861] flex justify-center items-center p-4">

    <div class="w-full max-w-2xl p-4 bg-white/10 text-gray-300 backdrop-blur-md bg-white rounded-md shadow-md">
       <%- include("partials/SingleChannelCard", { channelData, LatestVideos }) %>
    </div>
</body>

</html>