<div
    class="space-y-4 p-4 bg-white/5 border border-white/10 rounded-xl cursor-pointer hover:bg-white/10 transition duration-300 hover:shadow-lg width-full">
    <div class="flex items-center space-x-4">
        <div class="w-16 h-16 rounded-full overflow-hidden">
            <img src="<%= channel.logoUrl %>" alt="<%= channel.title %> Logo" class="w-full h-full object-cover">
        </div>
        <div class="flex-1">
            <p class="text-lg font-semibold text-gray-100">
                <%= channel.title %>
            </p>
        </div>
    </div>
    <div>
        <p class="text-sm text-gray-300">
            <%= channel.description %>
        </p>
    </div>
</div>